@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


* {
    margin: 0px;
    font-family: 'Roboto Mono',Arial, Helvetica, sans-serif;
}

body {
    background-color: #657475;
}

nav{
    background-color: #405080;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10px;
}

.texto_esquerda{
    text-align: left;
}

.texto_direito{
    text-align: right;
}

.texto_centro{
    text-align: center;
}
    
.perfil{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    height: 400px;
    padding: 10px;
    margin: 0px 5vw;
}

.foto{
    height: 400px;
    width: 400px;
    border-radius: 100%;
    margin: auto auto auto 5vw;
}

#apresetacao{
    text-align: justify;
    padding: 10px;
}

main{
    margin: auto;
    max-width: 70vw;   
}

.subtitulo{
    text-align: center;
    color: #405080;
    font-size: 40px;
}

.projetos{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.projeto{
    padding: 10px;
}

.academico{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.curso{
    padding: 10px;
}

footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #3593A0;
    /*background: linear-gradient(#0092FA, #373550);*/
}

.foto_rodape{
    height: 150px;
    width: 150px;
    border-radius: 100%;
    margin: auto auto auto 5vw;
}